# 最终 数据切分 根据数据中的class train 和validate划分训练数据和验证数据

In [1]:
import pandas as pd
import numpy as np
def fillna_data(data):
    for col in range(2,len(data.columns)-1):
        print(data.columns[col])
        print(data[data.columns[col]].mean())
        data[data.columns[col]].fillna(data[data.columns[col]].mean(),inplace = True)
    return data
data_all = pd.read_csv("./data_1024/20191023_finalalldata.csv")
train_data = data_all.loc[data_all["class"] == "train"]
train_data = fillna_data(train_data)
train_data.drop(["class"],axis = 1,inplace = True)
test_data = data_all.loc[data_all["class"] == "validate"]
test_data = fillna_data(test_data)
test_data.drop(["class"],axis = 1,inplace = True)

sex
1.2417302798982188
age
63.44020356234097
bmi
23.350033078880394
smoke
0.6590330788804071
location
7.059465648854906
rs10007052
1.3881752293814418
rs8192288
0.886107773938618
rs20541
0.794675052890028
rs12922394
0.8522178480412363
rs2910164
1.389350465473147
rs161976
1.2435818536585352
rs473892
1.2648872769236688
rs159497
1.3136230458221005
rs9296092
1.206318621409921
sex
1.3208333333333333
age
63.37916666666667
bmi
22.929854166666686
smoke
0.5875
location
5.894249999999969
rs10007052
1.3982726186440662
rs8192288
0.9014045281012659
rs20541
0.8218379539495809
rs12922394
0.8720971801666662
rs2910164
1.4353107899159654
rs161976
1.2752839825327498
rs473892
1.3555738689750036
rs159497
1.3768395089285688
rs9296092
1.1526948185654

D:\Program File\Anaconda\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
D:\Program File\Anaconda\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [3]:
train_data.describe()

,label,sex,age,bmi,smoke,location,rs10007052,rs8192288,rs20541,rs12922394,rs2910164,rs161976,rs473892,rs159497,rs9296092
count,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000
mean,0.737913,1.241730,63.440204,23.350033,0.659033,7.059466,1.388175,0.886108,0.794675,0.852218,1.389350,1.243582,1.264887,1.313623,1.206319
std,0.440330,0.428677,12.770027,3.754219,0.474639,1.505396,0.507277,0.192164,0.196571,0.184861,0.345095,0.363939,0.317150,0.347987,0.539479
min,0.000000,1.000000,26.000000,15.040000,0.000000,4.630000,1.000000,0.351293,0.448632,0.423280,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,1.000000,55.000000,20.760000,0.000000,5.310000,1.000000,0.592700,0.669800,0.650600,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,63.000000,23.300000,1.000000,7.760000,1.000000,1.000000,0.669800,1.000000,1.416000,1.000000,1.000000,1.313623,1.000000
75%,1.000000,1.000000,73.000000,25.470000,1.000000,8.600000,1.671000,1.000000,1.000000,1.000000,1.416000,1.594000,1.473000,1.445000,1.000000
max,1.000000,2.000000,89.000000,43.560000,1.000000,8.720000,2.792241,1.000000,1.000000,1.000000,2.005056,2.540836,2.169729,2.088025,3.356224

In [4]:
print(train_data.columns)
test_data.describe()

Index(['uid', 'label', 'sex', 'age', 'bmi', 'smoke', 'location', 'rs10007052',
       'rs8192288', 'rs20541', 'rs12922394', 'rs2910164', 'rs161976',
       'rs473892', 'rs159497', 'rs9296092'],
      dtype='object')

,label,sex,age,bmi,smoke,location,rs10007052,rs8192288,rs20541,rs12922394,rs2910164,rs161976,rs473892,rs159497,rs9296092
count,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000
mean,0.629167,1.320833,63.379167,22.929854,0.587500,5.894250,1.398273,0.901405,0.821838,0.872097,1.435311,1.275284,1.355574,1.376840,1.152695
std,0.484037,0.467772,18.899702,3.495174,0.493313,1.255403,0.508529,0.181116,0.200599,0.182717,0.350595,0.396633,0.360730,0.383433,0.384628
min,0.000000,1.000000,21.000000,14.300000,0.000000,4.630000,1.000000,0.351293,0.448632,0.423280,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,1.000000,53.000000,20.540000,0.000000,5.310000,1.000000,1.000000,0.669800,0.650600,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,69.000000,22.690000,1.000000,5.310000,1.000000,1.000000,1.000000,1.000000,1.416000,1.000000,1.473000,1.445000,1.000000
75%,1.000000,2.000000,77.000000,25.060000,1.000000,5.310000,1.671000,1.000000,1.000000,1.000000,1.416000,1.594000,1.473000,1.445000,1.000000
max,1.000000,2.000000,98.000000,31.400000,1.000000,8.600000,2.792241,1.000000,1.000000,1.000000,2.005056,2.540836,2.169729,2.088025,3.356224

In [5]:
train_data.to_csv("./data_1024/final_split/train_data.csv",index = False)
test_data.to_csv("./data_1024/final_split/test_data.csv",index = False)